<a href="https://colab.research.google.com/github/ssseungjin/BP_10_Ch6/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(2, 101, 2):
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [2]:
year = 0
balance = 1000
while balance >= 2000:
    year = year + 1
    interest = balance * 0.07
    balance = balance + interest
print(year, "년이 걸립니다.")

0 년이 걸립니다.

In [3]:
n = 1234
sum = 0
while n > 0:
    digit = n %10
    sum = sum + digit
    n = n // 10
print(sum)

10

In [4]:
import random as rd
 
while(True):
    x = rd.randint(1, 10)
    y = rd.randint(1, 10)
    cal = int(input(str(x)+"*"+str(y)+"는 "))
    if(cal == (x*y)):
        print("맞았습니다", end=" ")
        break;

10*6는 60
맞았습니다

In [5]:
sum =0
while(True):
    cal = int(input("정수를 입력하시오 : "))
    if(cal==0):
        break;
    sum += cal
print("합은", sum ,"입니다.")

정수를 입력하시오 : 1
정수를 입력하시오 : 2
정수를 입력하시오 : 3
정수를 입력하시오 : 4
정수를 입력하시오 : 5
정수를 입력하시오 : 6
정수를 입력하시오 : 0
합은 21 입니다.

In [6]:
import random as rd
 
for i in range(3):
    x = rd.randint(1, 6)
    y = rd.randint(1, 6)
    print("첫번째 주사위=",x ,"두번째 주사위=",y)

첫번째 주사위= 5 두번째 주사위= 3
첫번째 주사위= 5 두번째 주사위= 1
첫번째 주사위= 1 두번째 주사위= 1